#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.cards{
  display: flex;
  justify-content:space-around;
}
.card{
  padding: 10px;
  border: 1px solid #2c3e50;
  border-radius: 8px;
  width: 30%;
  height: 300px;
  overflow: hidden;
  background-color: #f4f9e5
}
.card .info .name{
  font-weight: 700;
  font-size: 15px;
}
.text-danger{
  color: red;
}